<!DOCTYPE html>
<html>
<body>

<h1>Home Page for Building and Tagging</h1>

<p> Available options for Tagging </p>
<p> <a href="http://shivlinux/tagging/vcs/">Version Control</a> Available Version Controls </p>
<p> <a href="http://shivlinux/tagging/components/">Components</a> Available Components</p>
<p> <a href="http://shivlinux/admin/">Admin</a> Administration and DB access</p>
<p> <a href="http://shivlinux/tagging/refreshtags/">Refresh Tags</a> This will show tags and will refresh latest tags for all the git components</p>
<p> <a href="http://shivlinux/tagging/latesttags/">Latest Tags</a> Tags of all git components</p>
<p> <a href="http://shivlinux/tagging/tagit/">Tag Components</a> Tags all git components</p>
<p> <a href="http://shivlinux/tagging/svntagging/">Tag SVN Components</a> Tag SVN components</p>

</body>
</html>
