<!DOCTYPE html>
<html>
<body>

<h1>Home Page for Building and Tagging</h1>

<p> Available options for Tagging </p>
<p> <a href="http://127.0.0.1:8000/tagging/vcs/">Version Control</a> Available Version Controls </p>
<p> <a href="http://127.0.0.1:8000/tagging/components/">Components</a> Available Components</p>
<p> <a href="http://127.0.0.1:8000/tagging/latesttag/">Latest Tags</a> Latest Tags for Each Component</p>
<p> <a href="http://127.0.0.1:8000/admin/">Admin</a> Administration and DB access</p>
<p> <a href="http://127.0.0.1:8000/refershtags/">Refresh Tags</a> This will refersh tags for all the git components</p>

</body>
</html>
