<!DOCTYPE html>
<html>
<head>
<h1>Components and tags</h1>
<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
th,td
{
padding:5px;
}
th
{
text-align:left;
}
</style>
</head>
<body>
{% for component, values in tagslist.items %}
<h3>component</h3>
<table style="width:300px">
    <tr>
        <th>Tag</th>
        <th>When</th>
    </tr>
    {% for tag, when in values.items %}
    <tr>
        <td>{{ tag }}</td>
        <td>{{ when }}</td>
    </tr>
    {% endfor %}
</table>
<table style="width:300px">
</table>
{% endfor %}
</body>
</html>
