<!DOCTYPE html>
<html>
<head>
<h1>Tag the components</h1>

<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
th,td
{
padding:5px;
}
th
{
text-align:left;
}
</style>

<table style="width:300px">
<tr>
  <th>Component</th>
  <th>Latest Tag</th>		
  <th>New Tag</th>
</tr>

<form action="/tagging/tagged/" method="post">
{% for component in tags %}
<tr>
  <td>{{ component.componentname }}</td>
  <td>{{ component.tagname }}</td>		
  <td><input type="text" name={{ component.componentname }}></td>
</tr>
{% endfor %}
</table>
{% csrf_token %}
<input type="submit" value="Tag it!">
</form> 
</body>
</html>


